html
  head
    title FCC Advanced Node and Express
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
  body
    h1.center Socket.IO Chat Room
    .chat.center
      p#num-users
      ul#messages
      form(action='')
        input#m(autocomplete='off')
        button Send
      a#logout(href='/logout') Logout
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(defer src='/public/client.js')

