// This file's full path should be /views/chat.pug
html
  head
    title FCC Advanced Node and Express Chat
    meta(name='description', content='Chat Room')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
  body
    h1.border.center FCC Advanced Node and Express
    h2.center Socket.IO Chat Room
    .chat.center
      p Welcome, #{user.name || user.username}!
      p#num-users 0 users online
      .chat-box
        ul#messages
        form(action='')
          input#m(autocomplete='off')
          button Send
      a#logout(href='/logout') Logout
  script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="/public/client.js")
