doctype html
html
  head
    title= title
  body
    h1= message
    if showLogin
      form(action='/login', method='post')
        input(type='text', name='username', placeholder='Username', required)
        input(type='password', name='password', placeholder='Password', required)
        button(type='submit') Login
    if showRegistration
      form(action='/register', method='post')
        input(type='text', name='username', placeholder='Username', required)
        input(type='password', name='password', placeholder='Password', required)
        button(type='submit') Register
    if showSocialAuth
      a(href='/auth/github') Login with GitHub
